# ==========================================
# Python
# ==========================================

__pycache__/
*.py[cod]
*$py.class

# ==========================================
# Virtual Environment
# ==========================================

venv/
env/
.venv/

# ==========================================
# VS Code
# ==========================================

.vscode/

# ==========================================
# PyCharm
# ==========================================

.idea/

# ==========================================
# Build Files
# ==========================================

build/
dist/
*.egg-info/

# ==========================================
# Environment Variables
# ==========================================

.env

# ==========================================
# Logs
# ==========================================

*.log

# ==========================================
# Database
# ==========================================

*.db

# ==========================================
# History
# ==========================================

data/history.json

# ==========================================
# API Keys
# ==========================================

config_private.py

# ==========================================
# OS Files
# ==========================================

.DS_Store
Thumbs.db